.registerform{
    
    
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  
}