
.container{
   height: 100vh;
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   align-content: flex-start;
   position: relative;
   
}
.logo-landing-page-image{
    
    border-width: 2px;
      border-color: red;
      position: relative;
      left: 20px;
  }
.main{
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
  
  width: 100%;
   
}

.landing-page-buttons{
    display: flex;
    justify-content: center;
    align-content: center;

    
}

.login{
    text-decoration: none;
}

.register{
    text-decoration: none;
}

.left-button{
    border-radius:9%;
    margin-right: 30px;
    cursor: pointer;
}
.right-button{
    margin-left: 30px;
    border-radius:9%;
    cursor: pointer;
}

.logo-landing-page-image img{
    width: 300px;
    height: 300px;
}

.navigation{
    position: absolute;
    display: flex;
    align-content: center;
    top: 0;
    right: 0;
    
}

.log-out{
    cursor: pointer;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    
}

.welcome{
    position: relative;
    right: 40px;
    
}

.add-article{
    padding-top: 10px;
    padding-left: 5px;
}