
.container{
    height: 100vh;
   display: flex;
   justify-content: center;
   align-content: center;
   
}
.logo-landing-page-image{
    
    border-width: 2px;
      border-color: red;
      position: relative;
      left: 20px;
  }
.main{
    display: flex;
    justify-content: center;
    align-content: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
   
}

.landing-page-buttons{
    display: flex;
    justify-content: center;
    align-content: center;

    
}

.login{
    text-decoration: none;
}

.register{
    text-decoration: none;
}

.left-button{
    border-radius:9%;
    margin-right: 30px;
    cursor: pointer;
}
.right-button{
    margin-left: 30px;
    border-radius:9%;
    cursor: pointer;
}

img{
    width: 300px;
    height: 300px;
}